.image-container {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-left:40px;
    width:100%;
}

.user-image {
    display:inline-block;
    border-radius: 50%;
    object-fit: cover;
    width: 85px;
    height: 85px;
    margin-left: 10px;
}
.image_change_text{
    display:inline-block;
    text-align: left;
    margin-right:15px;
    font-size: 1.2rem;
    color:#687a96;
    width:380px;
}
/* Styling Form */
#div_id_image a {
    color: white;
}

#div_id_image a:hover {
    color: white;
}

.form-container {
    margin : 30px;
    margin-left:90px;
    width: 528px;
}
label[for='id_email'],
label[for='id_username'],
label[for='id_first_name'],
label[for='id_last_name'],
label[for='id_gender'],
label[for='id_bio'] {     
    color: #62728d;
    font-size: 1.15rem;
    text-align: left;
    display: inline-block;
    width: 120px;
margin-top:6px;}
#id_image{font-style:italic;
width:250px;
font-size: 1.15rem;
}
input.form-control,
input.form-control:focus,
textarea.form-control,
textarea.form-control:focus {
    background-color: #3d4b61;
    color: white;
    border: 1px solid #579aff;
    outline: none;
    display: inline-block;
    font-size: 1.15rem;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 350px;
}
input.form-control,
.custom-select {
    display: inline-block;
    background-color: #3d4b61;
    color: white;
    border: 1px solid #4F8AE3;
    font-size: 1.15rem;
}
.custom-select  {
    width: auto;
}
#id_bio{    
    resize: none;
    height:150px;
}

p.invalid_field {
    color: #dc3545;
    margin-left: 22%;
    font-size: 13px;
}

input[type=checkbox],
label[for=image-clear_id]{
    display: none
}
.buttons_container{
    text-align:center;
    margin:30px;
}
.confirm_button,
.confirm_button:hover {
    color: white;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    background: linear-gradient(135deg, rgba(88, 150, 255, 1) 0%, rgba(142, 7, 255, 1) 100%);
    width: auto;
    display: inline-block;
    font-size: 1.15rem;
    margin:8px;
}