/* password_reset styles */
body {
    background-color: #15202B;
    color: white;
    box-sizing: border-box;
}

.form-container{
    width: 35%;
    margin: 100px auto;
    background-color: white;
    color: #15202B;
    padding: 20px;
    border-radius: 10px;
}

.reset_header {
    padding-bottom: 10px;
    border-bottom: 1px solid #15202B;
}

label[for="id_email"]{
    display: none;
}

#id_email {
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: auto auto;
    display: block;
}

.buttons {
    width: 90%;
    margin: auto auto;
}

.confirm_reset {
    width: 35%;
    margin: 100px auto;
    background-color: white;
    color: #15202B;
    padding: 20px;
    border-radius: 10px;
}

/* password_reset_confirm styles */
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
}