/* password_reset styles */
body {
    background-color: #202734;
    color: white;
}

.form-container{
    width: 480px;
    margin: 100px auto;
    color: #62728d;
    padding: 20px;
    font-size:1.15rem
}
.image_container {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}
.reset_header {
    padding: 40px;
    text-align: center;
    font-size:1.45rem

}
.form-reset {
    padding-top: 40px;
    padding-bottom: 70px;
}

label[for="id_email"]{

    color: #62728d;
    font-size: 1.15rem;
    text-align: left;
    display: inline-block;
    margin-top:4px;
}

#id_email {

    outline: none;
    width: 83%;
    height: 40px;
    float: right;
    background-color: #3d4b61;
    color: white;
    border: 1px solid #579aff;
    outline: none;
    display: inline-block;
    font-size: 1.15rem;
    border-radius: 5px;
    padding: 10px
}

.buttons {
    width: 90%;
    margin: auto auto;
}

.confirm_reset {
    width: 35%;
    margin: 100px auto;
    background-color: white;
    color: #15202B;
    padding: 20px;
    border-radius: 10px;
}
.reset_button,
.reset_button:hover {
    color: white;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    background: linear-gradient(135deg, rgba(88, 150, 255, 1) 0%, rgba(142, 7, 255, 1) 100%);
    width: auto;
    display: inline-block;
    font-size: 1.15rem;
    margin:8px;
}
.back_button,
.back_button:hover {
    color: #579aff;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    width: 117px;
    display: inline-block;
    font-size: 1.15rem;
    margin:8px;
}


/* password_reset_confirm styles */
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
}