
.change_header {
    width:100%;
    text-align: center ;
    margin-left:0px;
    border-bottom: 1px solid #5a6e8e;
}
.change_pass_text { 
    margin-top:25px;
    margin-bottom:30px;
    text-align:center;
    color: #687a96;
    font-size: 1.4rem;
}
.user_info {
   margin-top:50px;
   margin-bottom:50px;
    display:inline-block;
    color: #687a96;
    }
    
    .user_full_name {
        color: white;
        font-size: 1.5rem;
    
    }
    
    .user_username {
        color: #687a96;
        font-size: 1.5rem;
    }
    

    .user_image {
        display:inline-block;
        border-radius: 50%;
        object-fit: cover;
        width: 64px;
        height: 64px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    /* Grid for username & Follow buttons */
    .username_container {
        display: inline-block;
    }
        
.form-container {
    width: 528px;
    margin: 20px 66px;
}

ul {
    font-style: italic;
    color: #62728d;
    font-size: 0.9rem;
    padding-left: 30px;
    margin-top:20px;
    margin-bottom:30px;
}

li {
    list-style-type: none;
    font-size: 1.0rem;
}

label {
    margin-left:20%;
    color: #62728d;
    font-size: 1.15rem;
    text-align: left;
    display: inline-block;
}

input.form-control,
input.form-control:focus {
    background-color: #3d4b61;
    color: white;
    border: 1px solid #579aff;
    outline: none;
    display: inline-block;
    font-size: 1.15rem;
    margin-bottom: 6px;
    margin-left:20%;
    width: 60%;
}

p.invalid-feedback {
    width: 80%;
    margin-left: 20%;
}

.buttons_container{
    text-align:center;
    margin:30px;
}
.update_button,
.update_button:hover {
    color: white;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    background: linear-gradient(135deg, rgba(88, 150, 255, 1) 0%, rgba(142, 7, 255, 1) 100%);
    width: 90px;
    display: inline-block;
    font-size: 1.2rem;
    margin:8px;
}
.back_button,
.back_button:hover {
    color: #579aff;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    width: 90px;
    display: inline-block;
    font-size: 1.2rem;
    margin:8px;
}
