body {
    background-color: #202734;
    color: white;
    font-size: 1.2rem;
}

.image_container {
    text-align: left;
    margin-left: 10px;
}
.register_container {

    width: 80%;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-left: 10%
}
.form-register {
    padding-top: 30px;
}
label[for='id_email'],
label[for='id_password1'],
label[for='id_password2'],
label[for='id_username'],
label[for='id_first_name'],
label[for='id_last_name'],
label[for='id_gender'] {
    color: #62728d;
    font-size: 1.15rem;
    text-align: left;
    display: inline-block;
    width: 120px;

}
label[for='id_password2']{
    margin-top:-8px;
}

input.form-control,
input.form-control:focus {
    background-color: #3d4b61;
    color: white;
    border: 1px solid #579aff;
    outline: none;
    display: inline-block;
    font-size: 1.15rem;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 343px;
}
input.form-control::placeholder {
    color:#677a98;}

input.form-control,
.custom-select {
    display: inline-block;
    background-color: #3d4b61;
    color: white;
    border: 1px solid #4F8AE3;
    font-size: 1.15rem;
}
.custom-select  {
    width: auto;
}
.sign_up,
.sign_up:hover{
    color: white;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    background: linear-gradient(135deg, rgba(88, 150, 255, 1) 0%, rgba(142, 7, 255, 1) 100%);
    width: 117px;
    display: inline-block;
    float: right;
    font-size: 1.25rem;
    margin-left: 346px;
}
ul {
    font-style: italic;
    color: #62728d;
    font-size: 1.15rem;
    padding-left: 0;
}

li {
    list-style-type: none;
    font-size: 1.1rem;
}

.form-text {
    font-style: italic;
    color: #62728d;
    font-size: 1.1rem;
}

.error {
    color: red;
    margin-top: 5px;
    font-style: italic;
    font-size: 1.15rem;
}

.login_redirect {
    display: block;
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    color: #62728d;
    font-size: 1.15rem;
}

.login_link,
.login_link:hover {
    color:#579aff;
    font-size: 1.15rem;
}