.profile-container {
    border-bottom: 1px solid gray;
}

.image_container{
    width: 20%;
}

.user_image {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

/* Grid for username & Follow buttons */
.username_container {
    width: 70%;
    display: inline-block;
}

.follow_container {
    width: 28%;
    display:inline-block;
}

.follow_button {
    border-radius: 10px;
    display: block;
    width: 100px;
    margin-left: auto;
}

.unfollow,
.unfollow:hover,
.unfollow:focus {
    color: white;
    border: rgba(88,150,255,1);
    background: linear-gradient(90deg, rgba(88,150,255,1) 0%, rgba(142,7,255,1) 100%);
}

.follow,
.follow:hover,
.follow:focus {
    color: #4A7CCA;
    border: 1px solid #4A7CCA;
    background-color: #2B3445;
}

.user_info {
    width: 80%;
}
.user-info {
    color: #5a6e8e;
    
}

.user_full_name {
    color: white;
}

.user_username {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.joined {
    font-size: 1.2rem;
}

a.user_follow_count {
    color: #5a6e8e;
}
a.user_follow_count:hover {
    color: #5a6e8e;
    text-decoration: underline;
}

.bio {
    width: 60%;
    display: inline-block;
    vertical-align: text-top;
}
.bio_text {
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
    
}
.edit_button_container {
    width: 38%;
    display: inline-block;
    vertical-align: text-top;
}
.edit_button,
.edit_button:hover {
    color: #4A7CCA;
    border: 1px solid #4A7CCA;
    background-color: #2B3445;
    width: 120px;
    margin-left: auto;
    display: block;
}

.follows_you_text {
    text-align: right;
    font-size: 1.2rem;
    font-style: italic;
    color:#5a6e8e
}