.profile-container {
    border-bottom: 1px solid gray;
}
.user_image {
    border-radius: 50%;
    object-fit: cover;
    width: 180px;
    height: 180px;
}

.user-info {
    color: gray;
}

.text_center {
    text-align: center;
}

.follow_button {
    border-radius: 10px;
}

a.user_follow_count {
    color: white;
}
a.user_follow_count:hover {
    color: white;
    text-decoration: underline;
}