
.header_user_following {
    font-size: 1.2rem;
    color: white;
}
.header_user{
    padding-top:10px;
    padding-left:20px;
}
.header_user {
    margin-bottom: 0px;
}

.following_links {
    margin-top: 20px;
}

.user_container {
    font-size: 1.15rem;
    width: 660px;
    border-top: 1px solid #5a6e8e;
    padding: 15px;
    box-sizing: border-box;
    margin: 0px;
    padding-left:20px;
    padding-top:20px;
}
.image_container {
    width: auto;
    height: 43px;
    display:inline-block;
    padding: 0px;
    text-align: left;

    
}
.username_image {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:15px;
    margin-right:-5px;
}
.name_follow_container{
    width:595px;
    margin-top:-5px;
    
}
.user_link {
    color: white;
    font-weight: bold;
}
.user_link:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.user_tofollow_name, {
    font-size: 1.10rem;
    color: white;
    margin-right: 1px;
    font-weight: bold;
}
.user_tofollow_username {
    color: #5e6e89;
    font-size: 1.10rem;
    font-weight: normal;
    margin-top:0px;
}
.user_tofollow_bio{
    font-size: 1.10rem;
    color: #687a96;
    margin-top:10px;
}



.follow_button,
.owner_follow_button {
    border-radius: 5px;
    display: inline-block;
    margin-right:15px;
    width: 100px;
    font-size: 1.15rem;
    padding-top:3px;
    padding-bottom:5px;
    margin-top:10px;
}
.owner_follow_button {
    margin-top:0px;
width: 120px;
font-size: 1.3rem;}


.current_follow_count {
    color: #8aa1c5;
    font-size: 1.4rem;
}
