
.profile-container {
    border-bottom: 1px solid #5a6e8e;
    width:660px;

}

.user_image {
    border-radius: 50%;
    object-fit: cover;
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Grid for username & Follow buttons */
.username_container {
    display: inline-block;
}


.follow_button {
    border-radius: 5px;
    display: inline-block;
    margin-right:15px;
    width: 120px;
    font-size: 1.3rem;
}

.unfollow,
.unfollow:hover,
.unfollow:focus {
    color: #7284a4;
    border: 1px solid #7284a4;

    display: inline-block;
    margin-right:15px;
}

.follow,
.follow:hover,
.follow:focus {
    color: white;
    padding-top:3px;
    padding-bottom:5px;
    border: 1px solid #579aff;
    background: linear-gradient(135deg, rgba(88, 150, 255, 1) 0%, rgba(142, 7, 255, 1) 100%);

}

.username_follow_button{
    display:block;}
.user_info {
    
display:inline-block;
color: #687a96;
}

.user_full_name {
    margin-top:5px;
    margin-bottom:-8px;
    color: white;
    font-weight: bold;

}

.user_username {
    margin-top:5px;
    margin-bottom:-8px;
    color: #687a96;
    font-size: 1.6rem;
}



a.user_follow_count {
    color: #687a96;
    font-size: 1.4rem;
}
a.user_follow_count:hover {
    color: #8aa1c5;
    text-decoration: none;
}

.bio {

    display: inline-block;
    vertical-align: text-top;
    padding-top:15px;
}
.joined {
    margin-bottom:0px;
    margin-left:10px;
    font-size: 1.2rem;
    color: #687a96;
}
.bio_text {
    margin-bottom:10px;
    margin-left:10px;
    font-size: 1.2rem;
    color: white;

}
.edit_button,
.edit_button:hover,
.edit_button:focus {
    color: #579aff;
    border: 1px solid #579aff;
    background-color: #2b3445;
    width: 120px;
    font-size: 1.2rem;
    display: inline-block;
    margin-right:15px;
}

.follows_you_text {
    text-align: right;
    margin-right:15px;
    font-size: 1.2rem;
    font-style: italic;
    color:#687a96;
}