.nav_links {
    position: fixed;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 0px;
    width: 316px;
}

.nav_tweets {
    margin-left: 316px;
}

.link_redirect {
    display: block;
    margin-bottom: 25px;
    color: white;
}

.link_redirect:hover {
    text-decoration: none;
    cursor: pointer;
}

