/* Styling navigation bar */
.nav_links {
    position: fixed;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 20px;
    width: 300px;
}

.nav_tweets {
    margin-left: 300px;
}


/* Styling search */
.search_box {
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 10px;
    display:flex;
    flex-direction:row;
}

.search_input_tag {
    background-color: #3D4B61;
    border: 1px solid #5084d3;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    font-style: italic;
    outline: none;
    color: white;
    flex-grow:2;
    padding: 8px;
}

.search {
    border: 1px solid #5084d3;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    background: linear-gradient(90deg, rgba(88,150,255,1) 0%, rgba(142,7,255,1) 100%);
}

.link_redirect {
    display: block;
    margin-bottom: 25px;
    color: white;
    margin-left: 20px;
}

.link_redirect img {
    width: 150px;
}

.link_redirect:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgba(88,150,255,1);
}

/* Styling backdrop window */
.backdrop_window {
    Width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5);
    z-index: 30;
    display: none;
}

.wrong-alert {
    text-align: center;
}

/* Loading icon */
.loading_icon {
    border: 8px solid #283e55; /* Light grey */
    border-top: 8px solid gray; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }