body {
    background-color: #15202B;
    color: white;
    box-sizing: border-box;
}

.search_box {
    text-align: center;
    padding: 20px;
    border-bottom: grey solid 0.5px;
}

.search_input_tag {
    background-color: #253341;
    border: gray solid 1px;
    border-radius: 10px;
    width: 70%;
    outline: none;
    color: white;
    padding: 6px;
    vertical-align: middle;
}

.search {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.wrong-alert {
    color: rgb(255, 112, 112);
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Styling Tweets Container */
.nav_tweets {
    padding: 0px;
    width: 100%;
    border-left: grey solid 0.5px;
    border-right: grey solid 0.5px;
    border-bottom: grey solid 0.5px;
}


/* Styling new Tweet textarea & Button */
#id_content {
    background-color: #15202B;
    resize: none;
    border: 0;
    outline: none;
    color: white;
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
}

.create_tweet{
    display: block;
    border-radius: 10px;
    margin-left: 10px;
    border-bottom: grey solid 0.5px;
}

.line_break {
    height: 1px;
    margin-top: 10px;
    background-color: white;
}

/* Styling Tweets */
.tweet_container {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
}

.text_username_container,
.retext_username_container {
    padding: 0px;
}

.tweet_username,
.retweet_username {
    color: white;
    margin-right: 1px;
    font-weight: bold;
}

.tweet_username:hover,
.retweet_username:hover {
    color: white;
}

.tweet_user_unique,
.retweet_user_unique {
    color: grey;
    font-size: 16px;
}

.tweet_date,
.retweet_date {
    margin-left: 10px;
}

.tweet_text,
.retweet_text {
    margin-bottom: 5px;
    width: 100%;
    word-wrap: break-word;
}

.like_button,
.dislike_button {
    margin-right: 5px;
}

.likes_number,
.dislikes_number {
    margin-right: 20px;
}

.like_button:hover,
.dislike_button:hover {
    cursor: pointer;
    color: yellow;
    text-decoration: none;
}

.react_color {
    color: yellow;
}

.delete_tweet {
    margin-right: 20px;
}

.delete_tweet:hover {
    cursor: pointer;
    color: red;
}

/* Style image */

.image_container {
    padding: 0px;
    text-align: center;
}
.user_tweet_image {
    width: 80%;
    border-radius: 50%;
}

/* Retweet Style */
.retweet_container {
    width: 100%;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-left: 0;
    margin-top: 7px;
    margin-bottom: 7px;
}
.retweet_container:hover {
    text-decoration: none;
    color: white;
}

.retweet_tweet:hover {
    cursor: pointer;
    color: green;
}

.deleted_tweet {
    color: gray;
    font-style: italic;
}
.deleted_tweet:hover {
    cursor: default;
    color: gray;
}

/* Retweet Form */

.retweet_form,
.edit_form {
    width: 50%;
    position: fixed; 
    top: 20%; 
    left: 25%;
    z-index: 50; 
    background-color: #15202B;
    padding: 20px;
    border-radius: 10px;
}

.retweet_form .tweet_container,
.edit_form .tweet_container{
    border-bottom: none;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.retweet_cancel,
.edit_cancel {
    display: inline-block;
    margin-top: 15px;
    border-radius: 20px;
    margin-right: 5px;
}

/* Edit button */
.edit_tweet {
    margin-right: 20px;
}
.edit_tweet:hover {
    cursor: pointer;
}