<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/base.css' %}">

    {% block extraStyle %}
    {% endblock extraStyle %}

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class='backdrop_window'></div>
    <div class='row'>
      <div class='col-sm-3 col-md-3 col-lg-3 nav_links'>
        <a class="link_redirect" href="{% url 'home' %}">
          <h4>TME <i class="fa fa-envelope"></i></h4>
        </a>
        <a class="link_redirect" href="{% url 'home' %}">
          <h4>Home</h4>
        </a>
        {% if user.is_authenticated %}
          <a class="link_redirect" href="#">
            <h4>Profile</h4>
          </a>
          <a class="link_redirect" href="{% url 'logout' %}">
            <h4>Logout</h4>
          </a>
        {% else %}
          <a class="link_redirect" href="{% url 'register' %}">
            <h4>Register</h4>
          </a>
          <a class="link_redirect" href="{% url 'login' %}">
            <h4>Login</h4>
          </a>
        {% endif %}
      </div>
      <div class='col-sm-7 col-md-7 col-lg-7 nav_tweets'>
        {% block content %}
        {% endblock content %}
    
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block extraScript %}
    {% endblock extraScript %}
  </body>
</html>