{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    Edit - @{{ user.username }}
{% endblock title %}

{% load crispy_forms_tags %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock extraStyle %}

{% block content %}
<div class='row justify-content-md-center d-flex flex-nowrap image-container'>
        <div class='col-md-auto align-self-center'>
        <img src="{{ user.image.url }}" class='user-image'>
        </div>
        {% if user.bio %}
        <div class='col-md-auto bio_text'>
            <p class='mt-3'>{{ user.bio }}</p>
        </div>
        {% endif %}
</div>
    <div class='form-container'>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form|crispy }}
            <div class='buttons_container'>
            <button type="submit" class="btn confirm_button">Update</button>
            <a class='btn confirm_button' href="{% url 'password_change' %}">Change password</a>
            </div>
        </form>
    </div>
{% endblock content %}