{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    Change password - @{{ user.username }}
{% endblock title %}

{% load crispy_forms_tags %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_change_done.css' %}">
{% endblock extraStyle %}

{% block content %}
    <div class='mt-4 alert alert-success'>You successfully updated your Password</div>
{% endblock content %}