{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    Change password - @{{ user.username }}
{% endblock title %}

{% load crispy_forms_tags %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock extraStyle %}
{% block content %}
<div class='row justify-content-md-center d-flex flex-nowrap change_header'>
    <div class='col-sm-auto align-self-center'>
        <img class='user_image' src="{{ request.user.image.url }}">
    <div class= 'user_info'>
        <div class=' col-md-auto align-self-center '>
            <p class='user_username  username_container' data-username="{{request.user.username}}"><span class='user_full_name'>{{request.user.first_name}} {{request.user.last_name}}</span> @{{request.user.username}}</p>

        </div> 
        </div>
        </div>
        </div>

    <h3 class='change_pass_text'>Change your password</h3>
    <div class='form-container'>    
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class='buttons_container'>
            <button type="submit" class="btn update_button">Update</button>
            <a class="btn back_button" href="{% url 'edit_profile' %}">Cancel</a>
        </div>
        </form>
    </div>
{% endblock content %}