<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}
    <link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
    {% load crispy_forms_tags %}
    <title>Change password - reset password</title>
</head>
<body>
    <div class="content-section">
        <form method="POST" class='form-container'>
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="reset_header">Reset your password</h3>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>    
</body>
</html>
