{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    Change password - @{{ user.username }}
{% endblock title %}

{% load crispy_forms_tags %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock extraStyle %}

{% block content %}
    <h3 class='change_header'>Change Password</h3>
    <div class='form-container'>    
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mr-2">Update</button>
            <a class="btn btn-danger" href="{% url 'edit_profile' %}">Cancel</a>
        </form>
    </div>
{% endblock content %}