<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}
    <link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
    <title>Change password - Enter Email</title>
</head>
<body>
    <div class="content-section">
        <form method="POST" class='form-container'>
            <div class='mb-5 image_container'>
                <a class="d-inline-block" href="{% url 'home' %}">
                    {% load static %}
                    <img src="{% static 'img/tweetmelogo.png' %}">
                </a>
            </div>
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="reset_header">Reset your password</h3>
                <p>Need to reset your password? No problem! Just enter your email and click the 
                    button below and a message will be sent to your email which will redirect you
                    to reset password page.
                </p>
                <div class="form-reset">
                {{ form }}
            </div>
            </fieldset>
            <div class="form-group row justify-content-end">
                <button class="btn reset_button" type="submit">Request password reset</button>
                <a class='btn back_button' href="{% url 'home' %}">Go back</a>
            </div>
        </form>
    </div>    
</body>
</html>




