{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    Home - @{{ selected_user.username }}
{% endblock title %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
{% endblock extraStyle %}

{% block content %}
    <div class='profile-container container p-4'>
        <div class='row align-items-center'>
            <div class='image_container col-sm-12 col-lg-4'>
                <img class='user_image' src="{{ selected_user.image.url }}">
            </div>
            <div class= 'user_info col-sm-12 col-lg-8'>
                <p class='mb-2'><span class='user-info'>Email: </span>{{selected_user.email}}
                    {% if request.user.is_authenticated %}
                        {% if selected_user != request.user %}
                            {% if request.user in selected_user.followed_by.all %}
                                <button class='btn btn-danger follow_button ml-4'>Unfollow</button>
                            {% else %}
                                <button class='btn btn-primary follow_button ml-4'>Follow</button>
                            {% endif %}
                        {% elif selected_user == request.user %}
                            <a  href="{% url 'edit_profile' %}" class='btn btn-primary ml-4'>Edit Profile</a>
                        {% endif %}
                    {% endif %}
                </p>
                <p class='mb-2 user_username ' data-username="{{selected_user.username}}"><span class='user-info'>Username:</span> {{selected_user.username}}</p>
                <p class='mb-2'><span class='user-info'>Gender:</span> 
                    {% if selected_user.gender == 1 %}
                        Male
                    {% elif selected_user.gender == 2 %}
                        Female
                    {% endif %}
                </p>
                <p class='mb-1'><span class='user-info'>Full name:</span> {{selected_user.first_name}} {{selected_user.last_name}}</p>
            </div>
        </div>
        <div class='info-container mt-4'>
            <div class='row'>
                <p class='col-3 text_center'>
                    <a class='user_follow_count' href="{% url 'user-followed_by' selected_user.username %}">
                        <span class='user-info'>Followers:</span><span class='followers'>{{ selected_user.followed_by.count }}</span>
                    </a>
                </p>
                <p class='col-3 text_center'>
                    <a class='user_follow_count' href="{% url 'user-following' selected_user.username %}">
                        <span class='user-info'>Following:</span><span class='following'>{{ selected_user.following.count }}</span>
                    </a>
                </p>
                <p class='col-6 text_center'><span class='user-info'>Date Joined: </span> <span class='date_join'>{{selected_user.date_joined}}</span></p>
            </div>
            {% if selected_user.bio %}
            <div class='row'>
                <p class='col-12 bio'>{{ selected_user.bio }}</p>
            </div>
            {% endif %}
        </div>
    
    </div>
    <div id="tweets" class='panel-body'></div>
{% endblock content %}

{% block extraScript %}
    {% load static %}
    <script src="{% static 'js/user_profile.js' %}"></script>

{% endblock extraScript %}