{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    People followed by {{ user_followers.username }}
{% endblock title %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_following.css' %}">
{% endblock extraStyle %}

{% block content %}
    <div class='containter p-4 profile-container'>
        <div class='row justify-content-between d-flex flex-nowrap'>
            <div class='col-sm-auto d-flex align-middle'></dev>
                <img class='user_image' src="{{ user_followers.image.url }}">
            <div class= 'user_info'>
                <div class='username_follow_button'>
                    <p class='user_username  username_container owner' data-username="{{user_followers.username}}"><a href="{% url 'user-profile' user_followers.username %} "  class='user_link user_full_name'>{{user_followers.first_name}} {{user_followers.last_name}}</a> @{{user_followers.username}}</p>
                </div> 

                <!-- <p class='user_username user-info' data-username="{{user_followers.username}}"><span class='user_full_name'>{{user_followers.first_name}} {{user_followers.last_name}}</span> @{{user_followers.username}}</p> -->
                <span class='user_username '>
                    <apan class='current_follow_count' href="{% url 'user-followed_by' user_followers.username %}">
                        <span>Followers: </span><span class='followers'>{{ user_followers.followed_by.count }}</span>
                    </span>
                </span>
                <span class='user_username  ml-4'>
                    <a class='user_follow_count' href="{% url 'user-following' user_followers.username %}">
                        <span >Following: </span><span class='following'>{{ user_followers.following.count }}</span>
                    </a>
                </span>
                        </div>
                    </div>            
                    
            <div class='d-flex align-items-start '>
                {% if request.user.is_authenticated %}
                    {% if user_followers != request.user %}
                        {% if request.user in user_followers.followed_by.all %}
                            <button class='btn owner_follow_button unfollow'>Unfollow</button>
                        {% else %}
                            <button class='btn owner_follow_button follow'>Follow</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

    </div>
        <div class='row justify-content-between d-flex flex-nowrap'>
            <div class='bio'>
            <div class='col-sm-auto'>

                    <p class='joined '>Joined <span class='date_join'>{{user_followers.date_joined}}</span></p>
                
                    <p class='joined'> 
                        {% if user_followers.gender == 1 %}
                            Male
                        {% elif user_followers.gender == 2 %}
                            Female
                        {% endif %}
                    </p>

            {% if user_followers.bio %}
                <p class='bio_text'>{{ user_followers.bio }}</p>
            {% endif %}
        </div>


    </div> 
    <div class='d-flex flex-no-wrap align-items-end'>
        {% if user_followers == request.user %}
            <a  href="{% url 'edit_profile' %}" class='btn edit_button'>Edit Profile</a>
        {% elif request.user in user_followers.following.all %}
            <p class='follows_you_text'>{{user_followers.first_name}} {{user_followers.last_name}} follows you</p>
        {% endif %}
   </div>
        </div>
    
    </div>
    <div class="header_user_following">    
        <p class="header_user">{{ user_followers.first_name }} {{ user_followers.last_name}} is followed by: {{ user_followers.followed_by.count }}</p>
    <div class='following_links'>
        {% for user_to_follow in user_followers.followed_by.all %}
        <div class='container user_container' data-username="{{ user_to_follow.username }}">
            <div class='row d-flex flex-nowrap'>
                <div class='col-sm-auto image_container'>
                    <img class='username_image' src="{{ user_to_follow.image.url }}">
                </div>
                <div class='col-sm-auto name_follow_container'>
                    <div class='row justify-content-between d-flex flex-nowrap'>
                        <div class='col-sm-auto'>
                            <a href="{% url 'user-profile' user_to_follow.username %}" class='user_link user_tofollow_name'>
                                {{ user_to_follow.first_name }} {{ user_to_follow.last_name }}
                            </a>
                            <p class='user_username user_tofollow_username'>@{{ user_to_follow.username }}</p>
                        </div>
                        <div class='d-flex align-items-start'>
                            {% if request.user.is_authenticated %}
                                {% if request.user != user_to_follow %}
                                    {% if request.user in user_to_follow.followed_by.all %}
                                        <button class='btn follow_button unfollow'>Unfollow</button>
                                    {% else %}
                                        <button class='btn follow_button follow'>Follow</button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-auto user_tofollow_bio'>
                            {% if user_to_follow.bio %}
                                {{ user_to_follow.bio}}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    {% endfor %}
</div>


{% endblock content %}

{% block extraScript %}
{% load static %}
    <script src="{% static 'js/user_followers.js'%}"></script>
{% endblock extraScript %}