{% extends 'pages/base.html' %}

<!-- Home Title -->
{% block title %}
    People followed by {{ user_followers.username }}
{% endblock title %}

<!-- Home static -->
{% load static %}
{% block extraStyle %}
    <link rel="stylesheet" href="{% static 'pages/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_following.css' %}">
{% endblock extraStyle %}

{% block content %}
    <div class="header_user_following">    
        <h5 class="header_user">{{ user_followers.first_name }} {{ user_followers.last_name}} followed_by: {{ user_followers.followed_by.count }}</h5>
        <h5 class="header_username" style="color: gray">@{{ user_followers.username }}</h5>
    </div>
    <div class='following_links'>
        {% for user_to_follow in user_followers.followed_by.all %}
            <div class='container user_container' data-username="{{ user_to_follow.username }}">
                <div class='row'>
                    <div class='col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2'>
                        <img class='username_image' src="{{ user_to_follow.image.url }}">
                    </div>
                    <div class='col-xl-11 col-lg-11 col-md-10 col-sm-10 col-10'>
                        <div class='row'>
                            <div class='col-xl-10 col-lg-9 col-md-8 col-sm-7 col-7'>
                                <a href="{% url 'user-profile' user_to_follow.username %}" class='user_link'>
                                    {{ user_to_follow.first_name }} {{ user_to_follow.last_name }}
                                </a>
                                <p class='user_username'>@{{ user_to_follow.username }}</p>
                            </div>
                            <div class='col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5'>
                                {% if request.user.is_authenticated %}
                                    {% if request.user != user_to_follow %}
                                        {% if request.user in user_to_follow.followed_by.all %}
                                            <button class='btn follow_button unfollow'>Unfollow</button>
                                        {% else %}
                                            <button class='btn follow_button follow'>Follow</button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-12'>
                                {% if user_to_follow.bio %}
                                    {{ user_to_follow.bio}}
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block extraScript %}
{% load static %}
    <script src="{% static 'js/user_followers.js'%}"></script>
{% endblock extraScript %}